*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(22, 22, 22);
}
#home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#home span{
    margin: 0px 0.3vw;
    font-weight: bold;
    font-size: 50px;
}
.neon{
    box-shadow: 0px 0px 5px #ffffff,-1px -2px 3px #EE00FF,-1px 1px 2px #00FF00,2px 1px 2px #00FFFF,2px -1px 2px #FFFF00,-3px -2px 2px#FF0000,-4px 2px 2px #00FF00,2px 2px 2px #00FFFF;
    height: 3px;
    background-color: white;
}